<dx-toolbar class="bg-primary p-2">
  <dxi-item location="before" widget="dxButton" locateInMenu="never">
    <ng-container *dxTemplate>
      <div class='text-white' [routerLink]="['/']">
        <fa-icon [icon]="faRocket" size="s"></fa-icon>
        <b> RapidDevStarter</b>
      </div>
    </ng-container>
  </dxi-item>
  <dxi-item location="after" widget="dxButton">
    <ng-container *dxTemplate>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="dx-icon-preferences font-size-1-25x"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="users" [routerLink]="['/users']">
            <i class="dx-icon-user font-size-1-25x"></i>
            Users</a>
        </div>
      </div>
    </ng-container>
  </dxi-item>
</dx-toolbar>