<div class="side-nav">
    <dx-button icon="menu" (onClick)="isDrawerOpen = !isDrawerOpen" [class.drawer-opened]="isDrawerOpen"></dx-button>
    <dx-drawer openedStateMode="shrink" position="left" revealMode="expand" template="drawerTemplate"
        [(opened)]="isDrawerOpen" [closeOnOutsideClick]="true">
        <div *dxTemplate="let data of 'drawerTemplate'">
            <dx-list class="panel-list" [dataSource]="sideMenuData" [hoverStateEnabled]="false"
                [activeStateEnabled]="true" [focusStateEnabled]="false">
            </dx-list>
        </div>
    </dx-drawer>
</div>