/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.font-size-1x {
    font-size: 1em;
}
.font-size-1-25x {
    font-size: 1.25em;
}
.font-size-1-5x {
    font-size: 1.5em;
}
.font-size-2x {
    font-size: 2em;
}

@import "./scss/custom";